@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
*{
    box-sizing: border-box;
}
body{
    font-family: "Muli",sans-serif;
    background-color: #aa96da;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.container{
    background-color: #393e467d;
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a{
    text-decoration: none;
    color: lightblue;
}

.btn{
  
    cursor: pointer;
    display: inline;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0,98);
}
.text{
    margin-top: 30px;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;

}

.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label{
    position: block;
    top:  15px;
    left: 0;
    pointer-events: none;

}

.form-control span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translate(-30px);
}
.btn{
    margin: 10px;
}
.text{
    text-align: center;
}
textarea{
    width: 100%;
    background: lightblue;
    padding: 12px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.p{
    text-align: center;
}
.label{
    padding: 12px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}